.form-info-msg-container small {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px;
    width: 100%;
    display: block;
    font-family: Arial Narrow;
    color: orangered;
    background-color: rgb(248, 208, 133);
}

/* MOBILE VIEW */

.login-container {
    /* border: 1px solid black; */
    padding: 50px 10px;
}

.login-container h1 {
    text-align: center;
    text-transform: uppercase;
    color: rgb(36, 29, 29);
    font-family: wollicht-main;
    padding: 10px;
    /* border: 1px solid black; */
}

.login-container p {
    text-align: center;
    font-family: Arial Narrow;
    color: rgb(99, 97, 97);
    padding: 5px 0px;
    /* border: 1px solid black; */
}

.login-container p a {
    color: #008037;
    text-decoration: none;
}

.login-form-container {
    margin-top: 20px;
    /* border: 1px solid black; */
}

.login-form-container form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.login-form-container form label {
    font-family: Arial Narrow;
    color: rgb(99, 97, 97);
    font-weight: 600;
    padding: 5px 0;
}

.login-form-container form input {
    font-family: Arial Narrow;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    padding: 15px;
    border-radius: 5px;
}

.login-form-container form button {
    font-family: Arial Narrow;
    font-size: medium;
    font-weight: 600;
    color: whitesmoke;
    text-transform: uppercase;
    width: 30%;
    margin: 10px auto 0 auto;
    padding: 8px;
    border-radius: 25px;
    border: 1px solid #135831;
    background-color: #008037;
}

.login-form-container form button:hover {
    transition: all 0.25s;
    background-color: #135831;
    border-color: #124729;
}

.login-form span {
    font-family: Arial Narrow;
    color: red;
    display: none;
}

.login-form .showSpan {
    display: block;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .login-container {
        width: 50%;
        margin: auto;
    }
}

@media only screen and (min-width: 992px) {
    .login-container {
        width: 30%;
        margin: auto;
    }
}
